
* {
    box-sizing: border-box;  /*border-box content padding bodder*/
    margin: 0;
    padding: 0;
   
}

body {
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-family: Arial, sans-serif;
}


.calculator {
    width: 350px;
    padding: 20px;
     background-color: #222;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
} 


.display {
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #eee;
    text-align: right;
    font-size: 30px;
    outline: none;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    background-color: #444;
    color: white;
}


button:hover {
    background-color: #555;
}


.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #e68600;
}


.equal {
    background-color: #2196f3;
}

.equal:hover {
    background-color: #1976d2;
}
 
